*{
    margin: 5px;
}
.todoInput{
    border:3px solid yellowgreen;
    
}
.todoItem{
    border: 3px solid darkviolet;
    /* display: flex; */
    /* width: fit-content; */
}
.todoList{
    border: 4px solid yellow;
}
.todoApp{
    border:2px dashed firebrick
}